@import '../../variables.scss';

.main {
  margin-top: 60px;
}
.form {
  width: 385px;
  background-color: white;
  display: flex;
  border-radius: 6px;
  box-shadow:
    0 0.61px 2.93px rgba(0, 0, 0, 0.0197),
    0 1.46px 7.05px 0 rgba(0, 0, 0, 0.0283),
    0 2.75px 13.27px 0 rgba(0, 0, 0, 0.035),
    0 4.91px 23.68px 0 rgba(0, 0, 0, 0.0417),
    0 9.19px 44.28px 0 rgba(0, 0, 0, 0.0503),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);

  &_in {
    height: 375px;
  }
  &_up {
    height: 600px;
  }
  &_edit {
    height: 500px;
  }
  &_fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 12px;

    legend {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
    }
  }
  &_position {
    margin: auto;
  }
  &_field {
    display: flex;
    flex-direction: column;
  }
  &_input {
    width: 320px;
    height: 40px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    padding-left: 6px;
  }
  &_label {
    color: $black-color;
    font-size: 14px;
  }
  &_NDA {
    display: flex;
    border-top: 1px solid #e8e8e8;
    margin-top: 20px;
    padding-top: 8px;
    width: 320px;
    label {
      font-size: 14px;
      line-height: 22px;
      padding-left: 6px;
      color: $dark-gray-color;
    }
    input {
      width: 16px;
      height: 22px;
    }
  }
  &_button {
    padding: 8px 0;
    margin-top: 21px;
    border-radius: 6px;
    background-color: $blue-color;
    color: $white-color;
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    cursor: pointer;
  }
  &_signin {
    margin-top: 8px;
    text-align: center;
    color: $gray-color;
    a {
      text-decoration: none;
    }
  }
}

.error_message {
  color: $red-color;
}

.error {
  border: 2px solid $red-color;
}
