@import '../variables.scss';

header {
  background-color: $white-color;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 22px;
  a {
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: $black-color;
    cursor: pointer;
    margin-right: 20px;
    height: 20px;
    padding: 8px 15px 5px 15px;

    &:first-child {
      margin-right: auto;
    }
  }

  img {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    margin-left: 10px;
  }
  button {
    height: 50px;
    width: 110px;
    background-color: $white-color;
    font-size: 18px;
    border: 1px solid $black-color;
    border-radius: 5px;
    cursor: pointer;
  }
}

.link_with_auth,
.link_without_auth {
  color: $green-color;
  border: 1px solid $green-color;
  border-radius: 5px;
  display: inline-block;
}

.personal_info {
  display: flex;
  align-items: center;
}
