$background-color: #ebeef3;
$white-color: #ffffff;
$blue-color: #1890ff;
$black-color: #000000;
$gray-color: #8c8c8c;
$light-gray-color: rgba(0, 0, 0, 0.5);
$red-color: red;
$green-color: #52c41a;
$border-color: #bfbfbf;
$dark-gray-color: #595959;
