@import '../../variables.scss';

.main {
  margin: 60px 0;
}
.form {
  font-size: 14px;
  width: 938px;
  min-height: 600px;
  background-color: $white-color;
  display: flex;
  flex-direction: column;
  padding: 0 32px;
  border-radius: 6px;
  box-shadow:
    0 0.61px 2.93px rgba(0, 0, 0, 0.0197),
    0 1.46px 7.05px 0 rgba(0, 0, 0, 0.0283),
    0 2.75px 13.27px 0 rgba(0, 0, 0, 0.035),
    0 4.91px 23.68px 0 rgba(0, 0, 0, 0.0417),
    0 9.19px 44.28px 0 rgba(0, 0, 0, 0.0503),
    0 22px 106px 0 rgba(0, 0, 0, 0.07);

  &_fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    margin-top: 48px;

    legend {
      margin-bottom: 20px;
      font-size: 20px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
    }
  }

  &_field {
    display: flex;
    flex-direction: column;
  }
  &_input {
    height: 40px;
    border: 1px solid $border-color;
    border-radius: 4px;
    padding-left: 6px;
  }
  &_textarea {
    resize: none;
    font-family: inherit;
    font-size: inherit;
    padding: 6px;
    border-radius: 4px;
    outline: 1px solid #d9d9d9;
  }
  &_label {
    color: $black-color;
    font-size: 14px;
  }

  &_button {
    padding: 8px 0;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    height: 40px;
    cursor: pointer;
    &--send {
      background-color: $blue-color;
      color: $white-color;
      width: 320px;
      margin-bottom: 20px;
    }
    &--add {
      background-color: transparent;
      border: 1px solid $blue-color;
      color: $blue-color;
      width: 136px;
    }
    &--delete {
      background-color: transparent;
      border: 1px solid $red-color;
      color: $red-color;
      width: 136px;
    }
  }
  &_tags {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 21px 0;
    &_row {
      display: flex;
      column-gap: 10px;
    }
  }
}
